<!-- TODO: HACER LANDING -->

<footer>
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-4 footer-col">
                <div class="logo-container mb-3">
                    <div class="logo-circle">
                        <span class="logo-text">T</span>
                    </div>
                    <span class="logo-name">Trafalgar</span>
                </div>
                <p class="mb-4">Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online 
                    for everyone</p>
                <p>©Trafalgar PTY LTD 2020. All rights reserved</p>
            </div>
            <div class="col-2 footer-col">
                <p class="logo-name">Company</p>
                <p>About</p>
                <p>Testimonials</p>
                <p>Find a doctor</p>
                <p>Apps</p>
            </div>
            <div class="col-2 footer-col">
                <p class="logo-name">Region</p>
                <p>Indonesia</p>
                <p>Singapore</p>
                <p>Hongkong</p>
                <p>Canada</p>
            </div>
            <div class="col-2 footer-col">
                <p class="logo-name">Help</p>
                <p>Help Center</p>
                <p>Contact Support</p>
                <p>Instructions</p>
                <p>How it Works</p>
            </div>
        </div>
    </div>
</footer>