{% extends 'layout/baseLoginRegister.html' %}
{% block title %}Home - ECashFlow{% endblock %}

{% block content %}
<title>ECashFlow - Panel de Control - Cambio De Email</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .header {
            background-color: #6000fc;
            color: #ffffff;
            padding: 20px 0;
            text-align: center;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        h2 {
            margin-top: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        .button-container {
            margin-top: 20px;
            text-align: center;
        }
        .button {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            margin-right: 10px;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
<body>
    <div class="container">
        <form action="{% url 'ForgotPassword' %}" method="post">
            {% csrf_token %}

            {% if tokenValidated %}
                <h2 class="text-center">Ingresá tu Nueva Contraseña</h2>
                <table>
                <input type="hidden" name="token" value="{{ request.GET.token }}">
                <input type="hidden" name="email" value="{{ request.GET.email }}">
                    <tr>
                        <th>Nueva Contraseña</th>
                        <td>
                            <input class="form-control" type="password" name="new-password" id="new-password">
                        </td>
                    </tr>
                </table>
            <div class="button-container">
                <button class="btn btn-primary" type="submit">Cambiar Contraseña</button>
            </div>

            {% else %}
                <h2 class="text-center">Ingresá tu Email</h2>
                <table>
                    <tr>
                        <th>Email</th>
                        <td>
                            <input class="form-control" type="email" name="email" id="email">
                        </td>
                    </tr>
                </table>
            <div class="button-container">
                <button class="btn btn-primary" type="submit">Validar</button>
            </div>
            {% endif %}

            <div class="button-container">
                <a href="{% url 'Home' %}" class="btn btn-secondary">Volver</a>
            </div>
        </form>

    </div>
</body>
{% endblock content %}
